@using (Html.BeginForm("Index", "Benhs", FormMethod.Get))
{
    <div class="container">  
        <div class="row">
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Tìm kiếm">
            </div>
            <div class="col-md-8">
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </div>             
        </div>
    </div>
}
